<div id="about-content">
    <div id="about-header">
        <h1>About Website</h1>
    </div>

    <div id="about-sections">
        <div class="about-card" id="npm-packages">
            <div class="section-title">NPM Packages</div>
            <div class="section-content">
                <ul class="info-list">
                    <li>express</li>
                    <li>express-session</li>
                    <li>express-handlebars</li>
                    <li>mongoose</li>
                    <li>connect-mongo</li>
                    <li>dotenv</li>
                    <li>cors</li>
                    <li>@tailwindcss/cli</li>
                    <li>tailwindcss</li>
                    <li>postcss</li>
                    <li>autoprefixer</li>
                    <li>http-server</li>
                </ul>
            </div>
        </div>

        <div class="about-card" id="external-libraries">
            <div class="section-title">External Libraries</div>
            <div class="section-content">
                <ul class="info-list external-icons">
                    <li class="list-item">
                        <img class="lib-icon" src="https://www.google.com/s2/favicons?domain=mongodb.com&sz=64" alt="MongoDB favicon" loading="lazy" decoding="async">
                        <span>MongoDB Atlas</span>
                    </li>
                    <li class="list-item">
                        <img class="lib-icon" src="https://www.google.com/s2/favicons?domain=handlebarsjs.com&sz=64" alt="Handlebars favicon" loading="lazy" decoding="async">
                        <span>Handlebars</span>
                    </li>
                    <li class="list-item">
                        <img class="lib-icon" src="https://www.google.com/s2/favicons?domain=tailwindcss.com&sz=64" alt="Tailwind CSS favicon" loading="lazy" decoding="async">
                        <span>Tailwind CSS</span>
                    </li>
                    <li class="list-item">
                        <img class="lib-icon" src="https://www.google.com/s2/favicons?domain=nodejs.org&sz=64" alt="Node.js favicon" loading="lazy" decoding="async">
                        <span>Node.js</span>
                    </li>
                    <li class="list-item">
                        <img class="lib-icon" src="https://www.google.com/s2/favicons?domain=expressjs.com&sz=64" alt="Express favicon" loading="lazy" decoding="async">
                        <span>Express</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
