<div id="index-content">
	<div class="index-intro">
		<span class="index-welcome"></span>
		<div class="wrap-spacer"></div>
		<span class="index-suspense"></span>
	</div>
	<div class="wrap-spacer"></div>
	<div id="index-forms">
		<form id="login" action="/lu" method="post">
			<div class="login-entry">
				<label for="login-username">Username</label>
				<div class="wrap-spacer"></div>
				<input type="text" name="login-username" id="login-username" />
				<span id="login-username-status" class="login-invalid"></span>
			</div>
			<div class="wrap-spacer"></div>
			<div class="login-entry">
				<label for="login-password">Password</label>
				<div class="wrap-spacer"></div>
				<input type="password" name="login-password" id="login-password" />
				<span id="login-password-status" class="login-invalid"></span>
			</div>
			<div class="wrap-spacer"></div>
			<div class="login-buttons-area">
				<button type="button" id="login-submit-login" class="login-button-text"></button>
				<div class="wrap-spacer"></div>
				<button type="button" id="login-register" class="login-button-text"></button>
			</div>
		</form>
		<form id="register" action="/ru" method="post">
			<div class="login-entry">
				<label for="register-username">Username</label>
				<div class="wrap-spacer"></div>
				<input type="text" name="register-username" id="register-username" />
				<span id="register-username-status" class="register-invalid"></span>
			</div>
			<div class="wrap-spacer"></div>
			<div class="login-entry">
				<label for="register-password">Password</label>
				<div class="wrap-spacer"></div>
				<input type="password" name="register-password" id="register-password" />
				<span id="register-password-status" class="register-invalid"></span>
			</div>
			<div class="login-entry">
				<label for="register-confirm-password">Confirm Password</label>
				<div class="wrap-spacer"></div>
				<input type="password" name="register-confirm-password" id="register-confirm-password" />
				<span id="register-confirm-status" class="register-invalid"></span>
			</div>
			<div class="wrap-spacer"></div>
			<div class="register-buttons-area">
				<button type="button" id="register-new-user" class="login-button-text"></button>
				<div class="wrap-spacer"></div>
				<button type="button" id="register-cancel" class="login-button-text"></button>
			</div>
		</form>
	</div>
</div>
